crnlib/crunch

*.swp
*.swo
*.o
*.dSYM
*.obj
*.swp
*.swo
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure.scan
/configure
/depcomp
/install-sh
/missing
Makefile
Makefile.in
m4/!ax_check_gl.m4.m4
m4/!ax_save_flags_with_prefix.m4
m4/!ax_save_flags_with_prefix.m4
m4/*.m4
config.h.*
/config.h
*.la
*.lo
.dirstamp
/ltmain.sh
/stamp-h1
/test-driver
/test-suite.log
/libtool
.libs/
.deps
/ar-lib
/autoscan.log
/test/tests
/test/tests.log
/test/tests.trs
/Makefile
